<div>
    Welcome to the game, <%= @name %>!
    <p>
    <div>
      <table>
        <% @board.grid.each_with_index do |cell, i| %>
          <% if i%10 == 0 %>
            <tr>
          <% end %>
          <td><%= cell[0] %></td>
          <% if (i+1)%10 == 0 %>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
</div>
