<div>
  <% if @name %>
  Welcome to the game, <%= @name %>!
  <% else %>
  What's your name?
  <form action="/new_game" method='post'>
    <input type='text' name='player'>
    <input type='submit' value='Enter'>
  </form>
  <% end %>
</div>
