<div>
  <% if !@name || @name == '' %>
    What's your name?
    <form action="/new_game" method='post'>
      <input type='text' name='player'>
      <input type='submit' value='Enter'>
    </form>
  <% else %>
    Welcome to the game, <%= @name %>!
  <% end %>
</div>
